@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
